[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
dj-static ="*"
asgiref = "*"
astroid = "*"
certifi = "*"
cycler = "*"
dj-database-url = "*"
Django = "*"
django-cors-headers = "*"
django-toolbelt = "*"
djangorestframework = "*"
isort = "*"
kiwisolver = "*"
lazy-object-proxy = "*"
matplotlib = "*"
mccabe = "*"
numpy = "*"
pandas = "*"
Pillow = "*"
psycopg2 = "*"
pylint = "*"
pyparsing = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
six = "*"
sqlparse = "*"
static3 = "*"
typed-ast = "*"
wrapt = "*"

[requires]
python_version = "2.7"
